<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaperts</title>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/productos.css">
</head>
<style>


</style>

<body>

     <!-- NAVEGATION -->
     <nav class="navbar navbar-expand-lg bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" fhref="#">
                <img src="../img/LogoOficial.jpg" alt="Logo" width="70" height="65" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#portada">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobrePlaperts">Sobre Plaperts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#alianzas">Alianzas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#historia">Nuestra Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#equipo">Nuestro Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="view/servicios.html">Productos y Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="view/inicioSesion.html">Inicio Sesión</a>
                    </li>
                </ul>

            </div>


        </div>
    </nav>
    <!-- FIN NAVEGACION -->


    <!-- Start Recent Work -->
    <section class="py-5 mb-5">
        <div class="container">
            <div class="row gy-5 g-lg-5 mb-4">

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="../emprendimientos/Evelia/index.html" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo01.jpg"
                            alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Evelia</h3>
                                <p class="card-text">Zapatos Artesanales</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo02.jpg"
                            alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Web Marketing</h3>
                                <p class="card-text">Psum officia anim id est laborum.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo03.jpg"
                            alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">R & D</h3>
                                <p class="card-text">Sum dolor sit consencutur</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo04.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Public Relation</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo05.jpg"
                            alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">María</h3>
                                <p class="card-text">Reposteria</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="../emprendimientos/Lucia/index.html" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo06.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Luzia</h3>
                                <p class="card-text">Salon de Belleza y Spa.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                 <!-- Inicio cuadro logo -->
                 <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo07.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Public Relation</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="../emprendimientos/maria/index.html" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo08.jpg"
                            alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">María</h3>
                                <p class="card-text">Emprendedora quien se encarga de realizar los mas ricos producto de masitas</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

                <!-- Inicio cuadro logo -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="../img/logosDePerfiles/Logo09.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Creative Design</h3>
                                <p class="card-text">Mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- fin cuadro logo -->

            </div>
        </div>
    </section>
    <!-- End Recent Work -->

    <!-- JS BOOTSTRAP -->
    <script src="js/bootstrap.bundle.min.js">
    </script>

</body>

</html>